<html>
    <head>
        <title>Portfolio Editor</title>
    </head>

    <body>
        <h1>Edit Portfolio</h1>

        <table>
            <tr>
                <th>Stock Symbol</th>
                <th>Number of Stocks</th>
            </tr>

            {% for key, value in symbols.items() %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            {% endfor%}
        </table>

        <form action="/addStock" method="get">
            Stock Symbol:
            <input type="text" name="symbol">
            Shares:
            <input type="number" name="shares"><br>
            <input type="submit" value="Add Stock">
        </form>

    </body>
</html>